# Cache
__pycache__/

# Ignore virtual environment
env/
.env
venv/
.venv
references/zip-codes-perturbance/bisg_env/*

# macOS
.DS_Store

# ignore data files which are too large
data/*
references/zip-codes-perturbance/zip_to_zip_distances.npy
/references/proxies/data/voters/*

# ignore secrets
secrets/*

# ignore repository specific files